# MovieLens Latest Datasets
<br>
These datasets will change over time, and are not appropriate for reporting research results. We will keep the download links stable for automated downloads. We will not archive or make available previously released versions.<br>
<br>
Small: 100,000 ratings and 1,300 tag applications applied to 9,000 movies by 700 users. Last updated 10/2016.<br>
<br>
https://grouplens.org/datasets/movielens/

## Cosine Similarity
Cosine similarity is a useful function in machine learning, let us classify or cluster easily. However, the genres similarity is not useful in MovieLens Datasets, you can try others data from IMDb.com!

In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
csv_movies = pd.read_csv('Data/ml-latest-small/movies.csv')

In [3]:
csv_movies['Action'] = csv_movies.apply(lambda x: 'Action' in x['genres'], axis=1)+0
csv_movies['Adventure'] = csv_movies.apply(lambda x: 'Adventure' in x['genres'], axis=1)+0
csv_movies['Animation'] = csv_movies.apply(lambda x: 'Animation' in x['genres'], axis=1)+0
csv_movies['Children'] = csv_movies.apply(lambda x: 'Children' in x['genres'], axis=1)+0
csv_movies['Comedy'] = csv_movies.apply(lambda x: 'Comedy' in x['genres'], axis=1)+0
csv_movies['Crime'] = csv_movies.apply(lambda x: 'Crime' in x['genres'], axis=1)+0
csv_movies['Documentary'] = csv_movies.apply(lambda x: 'Documentary' in x['genres'], axis=1)+0
csv_movies['Drama'] = csv_movies.apply(lambda x: 'Drama' in x['genres'], axis=1)+0
csv_movies['Fantasy'] = csv_movies.apply(lambda x: 'Fantasy' in x['genres'], axis=1)+0
csv_movies['Film-Noir'] = csv_movies.apply(lambda x: 'Film-Noir' in x['genres'], axis=1)+0
csv_movies['Horror'] = csv_movies.apply(lambda x: 'Horror' in x['genres'], axis=1)+0
csv_movies['Musical'] = csv_movies.apply(lambda x: 'Musical' in x['genres'], axis=1)+0
csv_movies['Mystery'] = csv_movies.apply(lambda x: 'Mystery' in x['genres'], axis=1)+0
csv_movies['Romance'] = csv_movies.apply(lambda x: 'Romance' in x['genres'], axis=1)+0
csv_movies['Sci-Fi'] = csv_movies.apply(lambda x: 'Sci-Fi' in x['genres'], axis=1)+0
csv_movies['Thriller'] = csv_movies.apply(lambda x: 'Thriller' in x['genres'], axis=1)+0
csv_movies['War'] = csv_movies.apply(lambda x: 'War' in x['genres'], axis=1)+0
csv_movies['Western'] = csv_movies.apply(lambda x: 'Western' in x['genres'], axis=1)+0

In [4]:
movies_genres = csv_movies.set_index('movieId').loc[:,'Action':]
movies_genres.head()

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,,,,,,,,,,,,,,,,,,
1,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0
2,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0
5,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
genres_similarity = cosine_similarity(csv_movies.loc[:,'Action':])
pd_genres_similarity = pd.DataFrame(genres_similarity, index=csv_movies.movieId, columns=csv_movies.movieId)

In [6]:
pd_genres_similarity.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,161830,161918,161944,162376,162542,162672,163056,163949,164977,164979
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.774597,0.316228,0.258199,0.447214,0.0,0.316228,0.632456,0.0,0.258199,...,0.000000,0.223607,0.00000,0.00000,0.000000,0.258199,0.447214,0.0,0.447214,0.0
2,0.774597,1.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.816497,0.0,0.333333,...,0.000000,0.288675,0.00000,0.00000,0.000000,0.333333,0.577350,0.0,0.000000,0.0
3,0.316228,0.000000,1.000000,0.816497,0.707107,0.0,1.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.00000,0.00000,0.500000,0.408248,0.000000,0.0,0.707107,0.0
4,0.258199,0.000000,0.816497,1.000000,0.577350,0.0,0.816497,0.000000,0.0,0.000000,...,0.333333,0.000000,0.57735,0.57735,0.408248,0.666667,0.000000,0.0,0.577350,0.0
5,0.447214,0.000000,0.707107,0.577350,1.000000,0.0,0.707107,0.000000,0.0,0.000000,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,1.000000,0.0