The data shows the information of American colleges and universities in 1995, the detail as below. And we would like to classify good colleges and universities.

[ACollege1995.csv] Columns:<br>
app - No. of applicants received<br>
acc - No. of applicants accepted<br>
enrol - No. of new students enrolled<br>
ftime - No. of full-time undergraduates<br>
ptime - No. of part-time undergraduate<br>
instate - In-state tuition<br>
outstate - Out-state tuition<br>
rbcost - Room and board cost<br>
bkcost - Estimated book cost<br>
phd - % of faculty with Ph.D.<br>
sfratio - Student/faculty ratio<br>
expend - Instructional expenditure per student<br>
grad - Graduation rate<br>
top10 - % new students from top 10% of high school class

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import scale
data = pd.read_csv('../ACollege1995.csv')

In [2]:
data = data.apply(pd.to_numeric, errors='coerce').dropna()

In [3]:
good = (data.top10 > 30) + 0
del data['top10']

In [4]:
data = data[data.apply(lambda x: np.abs(x - x.mean()) / x.std() < 3).all(axis=1)]

In [5]:
data['good'] = good

In [6]:
print(data.shape)
data.head(10)

(811, 14)

,app,acc,enrol,ftime,ptime,instate,outstate,rbcost,bkcost,phd,sfratio,expend,grad,good
0,193.0,146.0,55.0,249.0,869.0,7560.0,7560.0,4120.0,800.0,76.0,11.9,10922.0,15.0,0
2,146.0,117.0,89.0,492.0,1849.0,1742.0,5226.0,4764.0,500.0,39.0,9.5,9584.0,39.0,0
6,1351.0,892.0,570.0,2385.0,331.0,2220.0,4440.0,3030.0,300.0,72.0,18.9,5883.0,51.0,0
8,7548.0,6791.0,3070.0,16262.0,1716.0,2100.0,6300.0,3933.0,600.0,85.0,16.7,6642.0,69.0,0
9,805.0,588.0,287.0,1376.0,207.0,11660.0,11660.0,4325.0,400.0,74.0,14.0,8649.0,72.0,1
11,608.0,520.0,127.0,538.0,126.0,8080.0,8080.0,3920.0,500.0,63.0,11.4,7703.0,44.0,0
16,452.0,331.0,269.0,1417.0,301.0,6150.0,6150.0,3680.0,550.0,59.0,16.6,5412.0,52.0,0
18,1680.0,1395.0,691.0,2959.0,402.0,8236.0,8236.0,3700.0,569.0,74.0,14.7,9533.0,61.0,1
21,4414.0,1500.0,335.0,908.0,119.0,5666.0,5666.0,2964.0,1000.0,56.0,15.5,5970.0,46.0,0
22,1471.0,1281.0,824.0,4343.0,990.0,1697.0,2883.0,2570.0,300.0,50.0,23.0,4295.0,48.0,0

In [7]:
data.to_csv('../ACollege1995P.csv', index_label=False)